<%- include("partials/header"); -%>
    </form>
    </div>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-12">
        <div class="right">
            <h1 class="temp">The temperature in <%= city %> is <%= temp %> degree celsius.</h1>
            <p class="description">The weather is currently <%= description %>.</p>
            <img class="image" src="http://openweathermap.org/img/wn/<%= image %>@2x.png">
        </div>
    </div>
    </div>
    </body>

    </html>